<div class="card border-primary mb-3 shadow">
  <div class="card-header">
    <h6 class="text-muted pt-2">
      Published by {{article.author.username}},
      <!---->
      about {{ article.created_at | timesince }} ago
    </h6>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <a
        href="{% url 'articles:detail' article.id %}"
        class="text-decoration-none"
      >
        {{ article.title }}
      </a>
    </h4>
    <p class="card-text text-muted">{{ article.excerpt }}</p>
  </div>
</div>
