{% extends 'articles/base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <h1>About BlogBro</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quia, corporis
    distinctio voluptate ex excepturi laudantium ab inventore blanditiis neque
    atque unde voluptatibus repellendus odit maiores deserunt velit quidem
    adipisci voluptas eligendi! Velit quod nemo, sapiente optio architecto
    provident fugiat? Id aliquam sequi magnam nostrum voluptas ipsa rem ipsam ex
    commodi inventore vero, nihil cupiditate consectetur deserunt praesentium enim
    perferendis dignissimos veniam dolore fugiat architecto quia nobis, vitae
    incidunt. Aperiam perferendis dolorum, hic, ad praesentium illum, illo iure
    modi aliquid libero eaque! Architecto cumque omnis mollitia molestias non sit,
    laboriosam inventore esse ullam, nam atque magni distinctio quae blanditiis
    quisquam dignissimos. Hic sit vero porro! Est quisquam beatae amet enim quo
    voluptatem cumque? Corrupti, eius sapiente cupiditate sequi culpa facilis
    molestias minima delectus molestiae exercitationem aut voluptatibus, ipsam
    nisi repellat dolor vitae omnis ipsum sit praesentium. Facere alias molestiae
    quibusdam doloribus laudantium voluptatibus, architecto fugit cumque aut
    voluptatem voluptate dolorem corrupti ullam omnis, inventore libero a
    accusantium adipisci optio. A iure vero atque? Ad, animi odio aperiam corrupti
    vitae iste placeat sit non officia voluptatibus ut quos tempora tempore ab
    nihil, blanditiis veniam quibusdam, velit consequatur delectus. Possimus sequi
    veritatis, quis ab hic eligendi sed ducimus. Quod est vel asperiores.
  </p>
{% endblock content %}
