<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'articles/bootstrap.min.css' %}"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <title>
      {% if title %} BlogBro - {{ title }} {% else %} BlogBro {% endif %}
    </title>
  </head>
  <body>
    {% include 'articles/partials/_header.html' %}
    <main class="container">
      {% if messages %}
        {% for message in messages %}
          <div
            class="alert alert-warning alert-{{message.tags}} fade show"
            role="alert"
          >
            <span>{{message}}</span>
            <button
              type="button"
              class="btn-close float-end text-end"
              data-bs-dismiss="alert"
              aria-label="Close"
            />
          </div>
        {% endfor %}
      {% endif %}

      <section>
        {% block content %}{% endblock content %}
      </section>
    </main>
  </body>
</html>
